@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://kgdllffddoahphlecehcgfgagaegdofp/OpenSans-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  src: url('chrome-extension://kgdllffddoahphlecehcgfgagaegdofp/OpenSans-Bol.ttf')
    format('truetype');
}
body {
  border: 5px solid red;
}
